body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
a {
  text-decoration: none;
}

.main-navigation {
  line-height: 1.86;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  line-height: 1.86;
  font-weight: 700;
}

.nav-item a {
  color: #333333;
}

.nav-item a[href]:hover,
.nav-item a[href]:focus {
  color: #81b3d2;
}

.nav-item a[href]:active {
  color: #b2b2b2;
}

.nav-item a:not([href]) {
  color: #766357;
}

.description p {
  font-size: 21px;
  line-height: 1.86;
  font-weight: 700;
  color: #000000;
}

.description span {
  line-height: 1.86;
}

.advantages-minilist,
.advantages-item-list {
  list-style: none;
}

.advantages-item {
  color: #ffffff;
  display: flex;
}
.advantages-item h3 {
  font-size: 21px;
  font-weight: 700;
}
.advantages-item div {
  background-color: #81b3d2;
}

.advantages-minilist h4,
.advantages-item-list h3 {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.advantages-item-list {
  background-color: #eeeeee;
}
.hotels-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
}
.hotels-offer {
  line-height: 1.7;
}

.form-header h3 {
  color: #ffffff;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
  background-color: #766357;
}

.form-header h3:hover,
.form-header h3:focus {
  background-color: #604e43;
}
.form-header h3:active {
  color: #857871;
  background-color: #503e33;
}

.booking-item {
  line-height: 1.86;
  font-weight: 700;
  color: #000000;
}
.booking-item input {
  font: inherit;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  outline: none;
}

.booking-item input:hover {
  background-color: #ebebeb;
}

.booking-item input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.button-search {
  color: #ffffff;
  font-size: 21px;
  line-height: 1.86;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;

  background-color: #81b3d2;
  border: none;
}

.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
}

.button-search:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 1.86;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  list-style: none;
}

/* Стилизация внутренней страницы */
.filter {
  color: #ffffff;
  line-height: 1.5;
  background-color: black;
}
.filter b {
  font-size: 16px;
}
.button-filter {
  font: inherit;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
  padding: 11px 33px;
}
.filter-list {
  list-style: none;
}
.filter-sorting-list {
  list-style: none;
}
.results-hotels {
  list-style: none;
}
.filter-sorting h3,
.results b {
  font-size: 21px;
  line-height: 1.86;
  font-weight: 700;
  color: #000000;
}
.results-hotels-item h2 {
  font-size: 21px;
  line-height: 1.86;
  font-weight: 700;
  color: #000000;
}

.filter fieldset {
  border: none;
}

.filter-sorting h3,
.filter-sorting-list {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
}
.filter-sorting-list a {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}
.filter-sorting-list a:hover,
.filter-sorting-list a:focus {
  color: #81b3d2;
}
.filter-sorting-list a:active {
  color: #000000;
}
.filter-sorting-list a:visited {
  color: #81b3d2;
  border-bottom: none;
}

.btn {
  font: inherit;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 8px 18px;
  border: none;

}
.button-more {
  background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
}

.button-more:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.button-booking {
  background-color: #766357;
}

.button-booking:hover,
.button-booking:focus {
  background-color: #604e43;
}
.button-booking:active {
  color: #857871;
  background-color: #503e33;
}

.results-hotels-item-name {
  font-size: 21px;
  line-height: 1.86;
  color: #000000;
}
.results-hotels-item-name:hover,
.results-hotels-item-name:focus {
  color: #81b3d2;
}
.results-hotels-item-name:active {
  color: #cacaca;
}
.results-hotels-item mark {
  color: #666666;
  background-color: #f2f2f2;
  padding: 6px 16px;
}
 /*Стили для фильтра с ползунками по демо*/

 .filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 2.7;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 1.43;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/* ----- Сеточные стили -----


html,
body {
  min-width: 1280px;
  min-height: 2762px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  min-height: 56px;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  min-height: 56px;
}
*/
